Thunbs.db
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*.refresh
*.suo
obj/
[Rr]elease*/
_ReSharper*/
.svn
.tags
.tags_sorted_by_file
*.cache
.DS_Store
.package-lock.json
/node_modules
.sass-cache
.temp
.idea/
dist/
package-lock.json