  
<div class="search-list-wrapper" :class="searchInfoList.data&&searchInfoList.data.userList&&searchInfoList.data.articleList?'mix_list':''">

  <h3 v-if="searchInfoList.data&&searchInfoList.data.articleList&&searchInfoList.data.articleList.length">相关文章：</h3>
  <!-- 文章列表 -->
  <ul class="list-item-wrapper" @click.capture="showArticleDisplayDrawer">

    <li class="list-item"  v-if="searchInfoList.data" v-for="item in searchInfoList.data.articleList" :data-key-id="item.id" >
      <div class="list-item-mask" v-if="item.showLoading?true:false"></div>
      <div class="list-item-inner"  >
        <div class="list-content">
          <h4 class="list-content-desc-wrapper ">
            <span class="left list-content-desc">{{item.title}}</span>
            <span class="left list-content-date">{{item.time}}</span>
            <span class="left ml12" v-if="item.isFromTag" style="font-size:14px;color:#A2A2A2">标签：</span>
            <span  style="color:orange;border:1px solid orange;padding:0px 12px;border-radius:5px;" v-if="item.isFromTag" class="left">{{item.tagContent}}</span>
          </h4>
            
          <p >{{item.content}}<span>...</span>
          </p>
        </div>
        
        <ul class="list-extra" >
          <li><span class="list-extra-inner">点赞 ：</span><span>{{item.extraInfo.fav?item.extraInfo.fav.length:0}}</span></li>
          <li><span class="list-extra-inner">收藏 ：</span><span>{{item.extraInfo.collect?item.extraInfo.collect.length:0}}</span></li>
          <li><span class="list-extra-inner">评论 ：</span><span>{{item.extraInfo.comment?item.extraInfo.comment.length:0}}</span></li>
          <li><span class="list-extra-inner">转发 ：</span><span>{{item.extraInfo.relay?item.extraInfo.relay.length:0}}</span></li>
        </ul>
      </div>
    </li>
  </ul>


  <h3 v-if="searchInfoList.data&&searchInfoList.data.userList&&searchInfoList.data.userList.length">相关用户：</h3>

  <!-- 用户列表 -->
  <ul class="list-item-wrapper" >
    <li class="list-item" v-if="searchInfoList.data" v-for="item in searchInfoList.data.userList" :data-key-id="item.id" >
      <a class="list-item-inner" :href="'/recommend/personal?id='+item.transId" target="_blank" >
          <div class="list-item-image" :style="'background-image:url('+item.userPic+')'">
          </div>
          <div class="list-item-inner-content">
            <p class="list-item-username">
              {{item.userName||item.phone}}
            </p>
            <p class="list-item-userinfo">
              粉丝 ：{{(item.linkUser&&item.linkUser.fans)?item.linkUser.fans.length:0}}
            </p>
          </div>
      </a>
    </li>
  </ul>


  <!-- 评论列表:暂时不做，后续有空优化再做 -->
  <!-- <ul class="list-item-wrapper" @click.capture="showArticleDisplayDrawer">

    <li class="list-item" v-if="searchInfoList.data.length" v-for="item in searchInfoList.data" :data-key-id="item.id" >
      <div class="list-item-inner"  >
        <div class="list-content">
          <h4 class="list-content-desc-wrapper">
            <span class="list-content-desc">{{item.title}}</span>
            <span class="list-content-date">{{item.time}}</span>
          </h4>
            
          <p >{{item.content}}<span>...</span>
          </p>
        </div>
        
        <ul class="list-extra" >
          <li><span class="list-extra-inner">点赞 ：</span><span>{{item.extraInfo.fav?item.extraInfo.fav.length:0}}</span></li>
          <li><span class="list-extra-inner">收藏 ：</span><span>{{item.extraInfo.collect?item.extraInfo.collect.length:0}}</span></li>
          <li><span class="list-extra-inner">评论 ：</span><span>{{item.extraInfo.comment?item.extraInfo.comment.length:0}}</span></li>
          <li><span class="list-extra-inner">转发 ：</span><span>{{item.extraInfo.relay?item.extraInfo.relay.length:0}}</span></li>
        </ul>
      </div>
    </li>
  </ul> -->

</div>