

body {
	background-color: rgb(240, 240, 240);
}

.footer-uniq {
	border-radius: 5px;
	transform: rotate(60);
	width: 6rem;
	height: 400px;
	background: #f00;
	font-size: 12px;
	margin-top: 1rem;
	transform: rotate(7deg);
	line-height: 1rem;
}

p{
	padding: 10px;;
}