<!-- 注意，template里面的单纯的数据传递，不能直接获取里面的属性 -->

<div >
	
	<header>
		<h1 class="header_el title_home left" @click="goHome" title="返回首页" >大前端</h1>
		<div class="header_el right">
			<a-button v-if="!userInfo.isLogin" class="right" type="primary" @click="showLoginDrawer"> 登录 </a-button>
			<user-pop v-if="userInfo.isUserPopLoaded" class="header_el right" :style="(userInfo.isSelf)?'':'visibility:hidden;'" :callback="logoutCallback"></user-pop>
		</div>
		<div class="header_el header_content">
			<span class="title_welcome" v-if="userInfo.isLogin&&userInfo.isSelf" >个人中心</span>
			<span class="title_welcome" v-else-if="!userInfo.isSelf" >{{("欢迎来到 '"+(userInfo.userName||userInfo.phone)+"' 的空间")}}</span>
			<span class="title_welcome" v-else >请您先登录</span>
		</div>
	</header>


	<div class="inner_content">
		<a-tabs class="tab_content" @change="switchTab" v-model="activeKey.val">

			<!-- 文章列表 -->
			<a-tab-pane key="article" :tab="userInfo.isSelf?'帖子':'Ta的帖子'">
				<div class="person-article-loading" v-show="activeKey.val=='article'">
					<p v-if="personalArticle.loadedInfo.loadingState!='loaded'">{{personalArticle.loadedInfo.content}}</p>
				</div>
					
				<article-list v-if="personalArticle.isLoaded" ></article-list>
			</a-tab-pane>

			<!-- 关注列表和粉丝列表用同一个组件 -->
			<a-tab-pane key="attention" :tab="userInfo.isSelf?'关注':'Ta关注的人'" >
				<div class="person-fans-loading" v-show="activeKey.val=='attention'">
					<p v-if="personList.loadedInfo.loadingState!='loaded'">{{personList.loadedInfo.content}}</p>
				</div>
					
				<person-list v-if="personList.isLoaded" :callback="removeAttentionCallback" ></person-list>
			</a-tab-pane>

			<!-- 我收藏的文章 -->
			<a-tab-pane key="fav" tab="收藏" v-if="userInfo.isSelf">
				<div class="person-article-loading" v-show="activeKey.val=='fav'">
					<p v-if="personalArticle.loadedInfo.loadingState!='loaded'">{{personalArticle.loadedInfo.content}}</p>
				</div>
					
				<article-list v-if="personalArticle.isLoaded"  :callback="afterRemoveFavCallback" ></article-list>
			</a-tab-pane>

			<!-- 粉丝列表 -->
			<a-tab-pane key="fans" :tab="userInfo.isSelf?'粉丝':'Ta的粉丝'" >
				<div class="person-fans-loading" v-show="activeKey.val=='fans'">
					<p v-if="personList.loadedInfo.loadingState!='loaded'">{{personList.loadedInfo.content}}</p>
				</div>
					
				<person-list v-if="personList.isLoaded" :callback="removeAttentionCallback" ></person-list>
			</a-tab-pane>

			<!-- 个人信息修改 -->
			<a-tab-pane key="userInfo" tab="个人信息"  v-if="userInfo.isSelf">
				<div class="person-fans-loading" v-show="activeKey.val=='userInfo'">
					<p v-if="userInfo.loadedInfo.loadingState!='loaded'">{{userInfo.loadedInfo.content}}</p>
				</div>
				<user-info v-if="userInfo.isLoaded"></user-info>
			</a-tab-pane>

			<!-- 退出登录，安全设置，修改手机号和密码 -->
			<a-tab-pane key="safeInfo" tab="设置"  v-if="userInfo.isSelf">
				<div class="person-fans-loading" v-show="activeKey.val=='safeInfo'">
					<p v-if="safeInfo.loadedInfo.loadingState!='loaded'">{{safeInfo.loadedInfo.content}}</p>
				</div>
				<safe-info v-if="safeInfo.isLoaded"></safe-info>
				<p :class="safeInfo.changeResult.state?'change-success':'change-fail'" style="clear:both;" v-if="safeInfo.changeResult.msg">{{safeInfo.changeResult.msg}}</p>
			</a-tab-pane>



			

			<div title="" class="write_info_wrapper" slot="tabBarExtraContent"  v-if="userInfo.isSelf&&userInfo.isLogin" >
				<div @mouseenter="showWriteInfo" @mouseleave="hideWriteInfo"  :class="articleForm.showWriteAritle?'showInfo write_info_list':'write_info_list' ">
					<p class="write_article hover_state" @click="showArticleDrawer">发布文章</p>
					<p class="write_tiptalk hover_state hide">发表说说</p>
					<p class="create_chart hover_state hide">数据绘图</p>
				</div>
				<img class="write_img" @click="showArticleDrawer" @mouseenter="showWriteInfo" @mouseleave="hideWriteInfo" src="../../common/assets/img/write.png" alt="">
			</div>
			
		</a-tabs>
	</div>
		
			

	<!-- 写文章|展示文章 -->
	<div>
		<login v-if="loginForm.isLoaded" :callback="loginSuccessCallback"></login>
	    <article-edit v-if="articleForm.isLoaded" :callback="submitAritcleCallback"></article-edit>
	    <article-display v-if="articleDisplayForm.isLoaded" :callback="afterRemoveFavCallback" ></article-display>
	</div>

</div>
