.wrapper{
	width:100%;
	overflow: hidden;

	header{
		// position:relative;
		padding:0px 30px;
		background-color: #1369bf;
		height: 58px;
		.title_home{
			cursor: pointer;
		}
		.header_el{
			line-height: 58px;
			width: 100px;
			height:58px;
			margin:0px;
			padding:0px;
			text-align:center;
			button{
				margin:13px auto 0px;
			}
		}

		.user_cneter.header_el{
		    padding:3px;
		    cursor:pointer;
	    	height: 40px;
	    	width: 40px;
	    	border-radius:10px;
	    	border:1px solid #e3e3e3;
	    	background:url("../../common/assets/img/write.png") center center no-repeat;
	    	background-size:40px;
	    	font-size: 23px;
	    	margin:0px;
			margin-top: 5px;
		}
		.header_content.header_el{
			width: auto;
			text-align:center;
			margin:0px 200px;
		}
		.title_welcome{
			color: #ffffff;
    		font-size: 16px;
		}
	}

	.inner_content{
		padding: 30px;
		.tab_content{
			width: 100%;
		}

		.detai_content {
			.ant-list-item {
				padding: 0px;
				display:inline-block;
				width:100%;
				flex-grow:1;
			}
		}
	}
	
}


//tab切换的时候，文字位置偏移，因为这个transition的缘故
.ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane{
	transition: none;
}
.ant-tabs-tabpane{
	min-height: 100px;;
}

.change-success{
	color:#52c41a;
}
.change-fail{
	color:red;
}