      <a-drawer
          title="新用户注册"
          :width="720"
          :visible="registerForm.visible"
          :body-style="{ paddingBottom: '80px' }"
          @close="closeRegisterDrawer"
        >
          <a-form :form="registerFormElement" layout="vertical" hide-required-mark>
                
                <div class="form-item-wrapper">
                    <a-form-item label="账号【即手机号】" :validate-status="registerForm.data.phone.status" :help="registerForm.data.phone.helpInfo" class="form-item-inner"  >
                      <a-input
                        :value="registerForm.data.phone.val"
                        @change="changePhoneNum"
                        placeholder="请输入手机号"
                      />
                    </a-form-item>

                    <a-form-item label="密码" :validate-status="registerForm.data.passward.status" :help="registerForm.data.passward.helpInfo" class="form-item-inner" >
                      <a-input-password 
                        :value="registerForm.data.passward.val"
                        @change="changePassward"
                        placeholder="请输入密码"
                      />
                    </a-form-item>
                </div>
                    
                <div class="form-item-wrapper">
                    <a-form-item label="昵称 [非必填]" :validate-status="registerForm.data.nickname.status" :help="registerForm.data.nickname.helpInfo" class="form-item-inner" >
                      <a-input
                        :value="registerForm.data.nickname.val"
                        @change="changeNickName"
                        placeholder="请输入昵称"
                      />
                    </a-form-item>

                    <a-form-item label="验证码" :validate-status="registerForm.data.validatenum.status" :help="registerForm.data.validatenum.helpInfo" class="form-item-inner" >
                      <div class="form-item-inner-content">
                        <a-input class="validate_input"
                            :value="registerForm.data.validatenum.val"
                            @keydown.enter="registerNewAccount"
                            @change="changeValdateNum"
                            placeholder="请输入验证码,不区分大小写"
                          />
                          <img @click="changeValdateImg" class="validate_img" :src="registerForm.data.validatenum.imgstr"  alt="" ref="imgYzm">
                      </div>
                    </a-form-item>
                </div>
          </a-form>
          <div
            class="right"
          >
            <a-button :disabled="registerForm.data.submitState.disableBtn" :style="{ marginRight: '8px' }" @click="closeRegisterDrawer">
              取消
            </a-button>
            <a-button :disabled="registerForm.data.submitState.disableBtn" type="primary" @click="registerNewAccount">
              {{registerForm.data.submitState.submitText}}
            </a-button>
          </div>
        </a-drawer>
        <!-- :style="{
              position: 'absolute',
              right: 0,
              bottom: 20,
              width: '100%',
              borderTop: '1px solid #e9e9e9',
              padding: '10px 24px',
              background: '#fff',
              textAlign: 'right',
              zIndex: 1,
            }" -->