//内容列表
.list-item-wrapper{
    .list-item{
        position:relative;
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-bottom: 1px solid #e3e3e3;
        height:84px;
        overflow: hidden;
        .list-item-mask{
            background: url("../../common/assets/img/loading.png") center center no-repeat;
            background-size:40px;
            height:100%;
            width: 100%;
            position: absolute;
            top: 0px;
            left:0px;
            opacity:0.8;
            background-color: #e3e3e3;
        }
        .list-item-right{
            margin-top:25px;
        }
        .list-item-inner{
            display:flex;
            .list-content{
                cursor: pointer;
                margin-right: 50px;
                flex-grow:9;
                width:0;
                position:relative;
                height:84px;
                .list-content-desc {
                    margin-right: 50px;
                    font-size:15px;
                }
                .list-content-date{
                    font-size:12px;
                    color:#A2A2A2;
                }
                p{
                    margin-right:10px;
                    height:43px;
                    text-indent:0px;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    // white-space: nowrap;
                    width:100%;
                    span{
                        position: absolute;
                        right:-10px;
                        top:63px;
                    }
                }
                .list-content-desc-wrapper{
                    white-space: nowrap;
                    overflow: hidden;
                    height:21px;
                }
            }
            .list-extra{
                flex-grow:1;
                .list-extra-inner{
                    // margin-right: 0px;
                }
            }
        }
    }
}
.ant-tabs-tabpane-active{
    position:relative;
}
.person-article-loading{
    position:absolute;
    top: 0;
    left:0;
}