.safe_info_wrapper{
    .title_desc{
        margin-bottom: 10px;
    }
    .unit_item{
        width: 32%;
        margin-top: 10px;
        margin-right:1%;
        input{width:100%;}
        margin-top: 0px;
    }
    button.unit_item{
        width:auto;
    }
}

.safe_info_wrapper{
    div,p,span,button,input,textarea{
        caret-color: auto;
    }
}
