//个人中心的悬浮框
.user_cneter{
    position:relative;
    .user_info_wrapper{
        top:-1px;
        left:-1px;
        position: absolute;
        z-index: 200;
        right: 11px;
        width: 134px;
        .user_info_list{
            display:none;
        }
        .user_info_list:hover{
            z-index:555;
            display:block;
        }
        .user_info_list.showInfo{
            display: block;
            font-size: 12px;
            color: white;
            position: absolute;
            left: -9px;
            width: auto;
            top: 50px;
            overflow: hidden;
            background: #1890ff;
            border-radius: 10px;
            p{
                line-height:24px;
                position:relative;
            }
        }
        .write_img{
            cursor:pointer;
            height:30px;
            margin-top: 6px;
            float: right;
        }
        .hover_state{
            padding: 10px;
            border-radius:6px;
        }

        .hover_state:hover{
            background-color: #1369bf;
            cursor: pointer;
            color: white;
        }
    }

}
    