@import 'normalize';


/* basic common class*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.font-color-1 {
    color: #fff;
}

.font-color-2 {
    color: rgb(68, 179, 54);
}

.font-color-3 {
    color: #ff7300;
}

.font-color-4 {
    color: rgb(73, 73, 73);
}

.font-color-5 {
  color: rgb(153, 153, 153);
}

.text-center {
    text-align: center;
}

.page{
  height: 100%;
}

.loading,
.page-center {
  position: fixed;
  width: 100%;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}


.clearfix:before,.clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;overflow:hidden;}

.hide{
  display: none;
}

.show{
  display: block;
}
