@import 'reset';
body {
	font-size:12px;
}
.clearfix:after {
	display: block;
	content: '';
	height: 0;
	clear: both;
}
.hide{
	display: none;
}

.clearfix {
	zoom: 1;
}

.left{
	float:left;
}
.right{
	float:right;
}
.relative{
	position: relative;
}
.absolute{
	position:absolute;
}
.fs{
	font-size:12px;
}
.fm{
	font-size:14px;
}
.fl{
	font-size:16px;
}
.fxl{
	font-size:18px;
}


.mt3{
	margin-top:3px;
}
.mt6{
	margin-top:6px;
}
.mt9{
	margin-top:9px;
}
.mt12{
	margin-top: 12px;
}

.ml12{
	margin-left: 12px;
}
.ml9{
	margin-left:9px;
}
.ml6{
	margin-left:6px;
}
.ml3{
	margin-left:3px;
}

.mr3{
	margin-right:3px;
}
.mr6{
	margin-right:6px;
}
.mr9{
	margin-right:9px;
}
.mr12{
	margin-right:12px;
}

.ml3{
	margin-left:3px;
}
.ml6{
	margin-left:6px;
}
.ml9{
	margin-left:9px;
}
.ml12{
	margin-left:12px;
}


.pd16{
	padding:16px;
}


/*页面公共的css， 关于统一form和一些其他的css*/
.ql-container,.quill-editor,.ant-input-wrapper,.ant-drawer-body,.user-info-wrapper .needMouse{
	div,p,span,button,input,textarea{
		caret-color: auto;
	}
}


h1{
	font-size: 23px;
    color: white;
    text-align:center;
}

/*通用的form表单的内部样式 start*/
.form-item-wrapper{
	display:flex;
	.form-item-inner{
		width: 50%;
		flex-grow:3;
		margin-left:20px;
		justify-content:space-between;
		.form-item-inner-content{
			display:flex;
			.validate_input{
				flex-grow:1
			}
			.validate_img{
				cursor:pointer;
				flex-grow:1
			}
		}
	}
	.form-item-inner:first-child{
		margin-left:0px;
	}
}
/*通用的form表单的内部样式 end*/



/*重置antd的样式 start*/
.ant-drawer-close{
	transform: rotate(45deg);
}
.ant-drawer-close::before{
	content:"+";
	font-size: 30px;
    // transform: rotate(45deg);
}
.ant-tabs-extra-content{
	height:200px;
}
/*重置antd的样式 end*/




//创建内容的悬浮框
.write_info_wrapper{
	position: absolute;
	z-index: 100;
    right: 11px;
    width: 134px;
	.write_info_list{
		display:none;
	}
	.write_info_list:hover{
		display:block;
	}
	.write_info_list.showInfo{
		display: block;
	    color: white;
	    position: absolute;
	    left: 0px;
	    width: 100px;
	    overflow: hidden;
	    background: #1890ff;
	    border-radius: 10px;
	    z-index:200;
		p{
			position:relative;
		}
	}
	.write_img{
		cursor:pointer;
		height:30px;
		margin-top: 6px;
		float: right;
	}
	.hover_state{
		padding: 6px 20px;
		border-radius:6px;
	}

	.hover_state:hover{
	    background-color: #1369bf;
	    cursor: pointer;
	    color: white;
	}
}
	
