/* 自定义css变量名称：全局字体定义
@font-face {
    font-family: 'hui-font';
    src: url('../font/hui-font.eot');
    src: url('../font/hui-font.eot#iefix') format('embedded-opentype'),
    	 url('../font/hui-font.woff') format('woff'),
	     url('../font/hui-font.ttf') format('truetype'), 
	     url('../font/hui-font.svg#hui-font') format('svg');
	font-weight: normal;
    font-style: normal;
}*/

/*@import '../css/hui-font-codes.css';*/
/*@import '../css/hui-font-ie7-codes.css';*/
