<div class="user-info-wrapper" v-if="userInfo.isLogin" >
    <a-form :form="UserInfoFormElement" layout="vertical" >
        <!-- userPic -->
        <div class="form-item-wrapper needMouse">
            <a-form-item label="昵称" :validate-status="userInfo.data.userName.status" :help="userInfo.data.userName.helpInfo" class="form-item-inner" >
              <a-input
                :value="userInfo.isEdit?userInfo.data.userName.val:userInfo.userName"
                @change="changeNickName"
                :placeholder="userInfo.isEdit?'请输入昵称':''"
                :disabled="!userInfo.isEdit"
              />
            </a-form-item>
            <a-form-item label="手机号" :validate-status="userInfo.data.phone.status" :help="userInfo.data.phone.helpInfo" class="form-item-inner" >
              <a-input
                :value="userInfo.isEdit?userInfo.data.phone.val:userInfo.phone"
                @change="changePhoneNumber"
                :placeholder="userInfo.isEdit?'请输入手机号':''"
                :disabled="true||!userInfo.isEdit"
              />
            </a-form-item>
            <a-form-item label="姓名" :validate-status="userInfo.data.name.status" :help="userInfo.data.name.helpInfo" class="form-item-inner" >
              <a-input
                :value="userInfo.isEdit?userInfo.data.name.val:userInfo.name"
                @change="changeName"
                :placeholder="userInfo.isEdit?'请输入姓名':''"
                :disabled="!userInfo.isEdit"
              />
            </a-form-item>
        </div>
            
        <div class="form-item-wrapper">
            
            
            <a-form-item label="年龄" :validate-status="userInfo.data.age.status" :help="userInfo.data.age.helpInfo" class="form-item-inner needMouse" >
              <a-input-number
                :value="userInfo.isEdit?userInfo.data.age.val:userInfo.age"
                :min="1" :max="200"
                @change="changeAge"
                :placeholder="userInfo.isEdit?'请输入':''"
                :disabled="!userInfo.isEdit"
              />
            </a-form-item>

            <a-form-item label="性别" :validate-status="userInfo.data.sex.status" :help="userInfo.data.sex.helpInfo" class="form-item-inner" >

              <a-checkbox @click="changeSex" :disabled="!userInfo.isEdit" value="male" :checked="(userInfo.isEdit?userInfo.data.sex.val:userInfo.sex)=='male'?true:false" >男</a-checkbox>
              <a-checkbox @click="changeSex" :disabled="!userInfo.isEdit" value="female" :checked="(userInfo.isEdit?userInfo.data.sex.val:userInfo.sex)=='female'?true:false" >女</a-checkbox>

            </a-form-item>

            <a-form-item label="头像" :validate-status="userInfo.data.userPic.status" :help="userInfo.data.userPic.helpInfo" class="form-item-inner user-img-upload-wrapper" >
              <a-upload
                :disabled="!userInfo.isEdit"
                name="user-pic"
                list-type="picture-card"
                class="avatar-uploader"
                :show-upload-list="false"
                action="/ajax/upload"
                :before-upload="beforeUpload"
                :custom-request="customRequest"
              >
                <!-- @change="handleChange" -->
                <div class="user-img-wrapper">
                  <span class="modify-img-des">修改头像</span>
                  <img class="user-img-content" :src="userInfo.isEdit?userInfo.data.userPic.previewUrl:userInfo.userPic" alt="用户头像" />
                </div>
              </a-upload>
            </a-form-item>
        </div>

<!--         <div class="form-item-wrapper">
            
        </div> -->
    </a-form>

    <div class="user-info-footer">
      <a-button v-if="!userInfo.isEdit" class="right" type="primary" @click="editUserInfo"   >
          {{userInfo.data.editBtn.val}}
      </a-button>

      <a-button v-if="userInfo.isEdit" class="right" type="primary" @click="submitUserInfo"   >
          {{userInfo.data.submitBtn.val}}
      </a-button>
      <a-button v-if="userInfo.isEdit" class="right mr12" @click="cancelUserInfoChange" >
          {{userInfo.data.cancelBtn.val}}
      </a-button>
    </div>
      

    <a-modal class="user-img-editor-wrapper" :visible="userInfo.data.userPic.preview" @cancel="triggerPreviewImg" @ok="submitCutedPic" :centered="true" okText="确认裁剪" cancelText="使用原图" width="auto" >
      <h2 style="line-height:40px;height:40px;">用鼠标点击灰色区域拖动来裁剪图片，默认裁剪中间正方形区域</h2>
      <div @mousedown="mousedown" @mouseup="mouseup" @mousemove="mousemove" class="preview-img" :class="userInfo.data.userPic.preview?'':'hidden'" :style="{'height':userInfo.data.userPic.height+'px','width':userInfo.data.userPic.width+'px'}" >
          <img :src="userInfo.data.userPic.url" alt="" :style="{'height':userInfo.data.userPic.height+'px','width':userInfo.data.userPic.width+'px'}" >
          <canvas @mousedown="mousedown" class="cut-canvas" :style="{'display':userInfo.data.userPic.displayCanvas,'top':userInfo.data.userPic.startY+'px','left':userInfo.data.userPic.startX+'px','height':userInfo.data.userPic.cutHeight+'px','width':userInfo.data.userPic.cutWidth+'px'}"></canvas>
          <div class="cut-master"></div>
      </div>
      
    </a-modal>
</div>


