<div >
	
	<header>
		<h1 class="header_el" >大前端</h1>

		<a-select v-if="searchInfo.isSelectLoaded" class="search_select_options" label-in-value :default-value="{ key: '所有类型' }" 
		@change="searchTypeChange">
			<a-select-option value="all">
				所有类型
			</a-select-option>
			<a-select-option value="article">
				查询文章
			</a-select-option>
			<a-select-option value="user">
				查询用户
			</a-select-option>

		</a-select>

		<a-input-search :value="searchInfo.inputInfo.val" enter-button="查询" class="header_el global_search" placeholder="请输入查询信息,左侧可筛选查询类型"  @search="onSearch" @change="onSearchChange" />

		

		<a-button v-if="!userInfo.isLogin" class="header_el" type="primary" @click="showRegisterDrawer"> 注册 </a-button>
		<a-button v-if="!userInfo.isLogin" class="header_el" type="primary" @click="showLoginDrawer"> 登录 </a-button>

		<user-pop v-if="userInfo.isUserPopLoaded" :callback="logoutCallback"></user-pop>
		
	</header>


	<div class="inner_content">
		<a-tabs class="tab_content" @change="switchTab" v-model="activeKey.val">

			<a-tab-pane key="recommend" tab="综合推荐">
				<div class="person-article-loading" v-show="activeKey.val=='recommend'">
					<p v-if="searchInfoList.loadedInfo.loadingState=='fail'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='empty'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='loading'">{{searchInfoList.loadedInfo.content}}</p>
				</div>
					
				<search-list v-if="searchInfoList.isLoaded"></search-list>
			</a-tab-pane>


			<a-tab-pane key="recommendArticle" tab="优质技术帖">
				<div class="person-article-loading" v-show="activeKey.val=='recommendArticle'">
					<p v-if="searchInfoList.loadedInfo.loadingState=='fail'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='empty'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='loading'">{{searchInfoList.loadedInfo.content}}</p>
				</div>
					
				<search-list v-if="searchInfoList.isLoaded"></search-list>
			</a-tab-pane>


			<a-tab-pane key="search" tab="搜索结果">
				<p v-if="!searchInfoList.isLoaded" v-show="activeKey.val=='search'">请在搜索框输入内容，点击搜索</p>
				<div class="person-article-loading"  v-show="activeKey.val=='search'">
					<p v-if="searchInfoList.loadedInfo.loadingState=='fail'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='empty'">{{searchInfoList.loadedInfo.content}}</p>
					<p v-if="searchInfoList.loadedInfo.loadingState=='loading'">{{searchInfoList.loadedInfo.content}}</p>
				</div>
					
				<search-list v-if="searchInfoList.isLoaded"></search-list>
			</a-tab-pane>

			<a-tab-pane key="personalArticleList" tab="我的帖子">
				<div class="person-article-loading"  v-show="activeKey.val=='personalArticleList'">
					<p v-if="personalArticle.loadedInfo.loadingState!='loaded'">{{personalArticle.loadedInfo.content}}</p>

					<p v-if="personalArticle.loadedInfo.loadingState=='loaded'&&personalArticle.data.length<1">{{personalArticle.loadedInfo.content}}</p>
				</div>
					
				<article-list v-if="personalArticle.isLoaded"></article-list>
			</a-tab-pane>

			<div title="" class="write_info_wrapper" slot="tabBarExtraContent"  v-if="userInfo.isLogin" >
				<div @mouseenter="showWriteInfo" @mouseleave="hideWriteInfo"  :class="userInfo.showWriteAritle?'showInfo write_info_list':'write_info_list' ">
					<p class="write_article hover_state" @click="showArticleDrawer">发布文章</p>
					<p class="write_tiptalk hover_state hide">发表说说</p>
					<p class="create_chart hover_state hide">数据绘图</p>
				</div>
				<img  src="../../common/assets/img/write.png" class="write_img" @click="showArticleDrawer" @mouseenter="showWriteInfo" @mouseleave="hideWriteInfo" alt="" />
			</div>
			
		</a-tabs>
	</div>
		

	<div>
		<regist v-if="registerForm.isLoaded"></regist>
	    <login v-if="loginForm.isLoaded" :callback="loginSuccessCallback"></login>
	    <article-edit v-if="articleForm.isLoaded" :callback="submitAritcleCallback"></article-edit>
	    <article-display v-if="articleDisplayForm.isLoaded"></article-display>
	</div>

</div>
